<%- include('composants/head') %> 
<body>
 <%- include('composants/entete') %>
 <main class="content">
 <%- include('composants/form_post') %>
 <%- include('composants/adr') %>
 </main>
 <%- include('composants/footer') %>
</body>


<script type="text/javascript">

//------------------------------------- Modifier

	let elmSauver = document.querySelectorAll('.sauver')
	for (elm of elmSauver)
	{
		elm.addEventListener('click', function()
		{
			let laLigne = this.parentNode.parentNode

			console.log('modifier_ajax');

			xhr = new XMLHttpRequest();
			xhr.open('POST', "modifier_ajax", true);

			data =
			{
				"_id" : laLigne.children[0].innerHTML, 
 				"nom" : laLigne.children[1].innerHTML,
 				"prenom" : laLigne.children[2].innerHTML,
 				"telephone" : laLigne.children[3].innerHTML,
 				"courriel" : laLigne.children[4].innerHTML
			};

			sData = JSON.stringify(data);
			xhr.setRequestHeader('Content-type', 'application/json');
			xhr.send(sData);
			xhr.addEventListener("readystatechange", traiterRequest, false);

			let elmForm = document.getElementById('mon_formulaire');
 			let elmInput = elmForm.querySelectorAll('input');

 			elmInput[0].value = sData["id"];
 			elmInput[1].value = sData["nom"];
 			elmInput[2].value = sData["prenom"];
 			elmInput[3].value = sData["telephone"];
 			elmInput[4].value = sData["courriel"];
		});

		function traiterRequest(e)
		{
			if(xhr.readyState == 4 && xhr.status == 200)
			{
				console.log('ajax fonctionne');
				let  maReponse = JSON.parse(xhr.responseText);
			};
		};
	};

//------------------------------------- Ajouter

	let elmAjouter = document.querySelectorAll('.ajouter');
	document.getElementById("btnAjouter").addEventListener('click', function()
	{
		console.log('Ajouter_ajax');
		xhr = new XMLHttpRequest();
		xhr.open('POST', "modifier_ajax", true);

		if ((elmAjouter[0].value!="")&&(elmAjouter[1].value!="")&&(elmAjouter[2].value!="")&&(elmAjouter[3].value!=""))
		{

			data =
			{
 				"nom" : elmAjouter[0].value,
 				"prenom" : elmAjouter[1].value,
 				"telephone" : elmAjouter[2].value,
 				"courriel" : elmAjouter[3].value
 			};

 			sData = JSON.stringify(data);

 			console.log(sData);

			xhr.setRequestHeader('Content-type', 'application/json');
			xhr.send(sData);
			xhr.addEventListener("readystatechange", traiterRequest, false);
		}

	});

</script>
</html>